# Redis config
{%- from "redis/map.jinja" import redis with context %}
daemonize {{ redis.config.daemonize }}

pidfile {{ redis.pid_file }}
port {{ redis.config.port }}

{%- if redis.config.bind is defined %}
bind {{ redis.config.bind }}
{%- endif %}

{%- if redis.config.unixsocket is defined %}
unixsocket {{ redis.config.unixsocket }}
unixsocketperm {{ redis.config.unixsocketperm }}
{%- endif %}

{%- if redis.config.tcp_backlog is defined and redis.config.tcp_backlog > 0 %}
tcp-backlog {{ redis.config.tcp_backlog }}
{%- endif %}
tcp-keepalive {{ redis.config.tcp_keepalive }}

loglevel {{ redis.config.loglevel }}

{%- if redis.config.syslog is defined %}
syslog-enabled yes
syslog-ident {{ redis.config.syslog.ident }}
syslog-facility {{ redis.config.syslog.facility }}
{%- if redis.config.syslog.nologfile is defined %}
logfile ""
{%- else %}
logfile {{ redis.log_file }}
{%- endif %}
{%- else %}
logfile {{ redis.log_file }}
{%- endif %}

databases {{ redis.config.database_count }}

{%- for s in redis.config.snapshots %}
save {{ s }}
{%- endfor %}

stop-writes-on-bgsave-error {{ redis.config.stop_writes_on_bgsave_error }}

rdbcompression {{ redis.config.rdbcompression }}
rdbchecksum {{ redis.config.rdbchecksum }}

dbfilename {{ redis.config.dbfilename }}
dir {{ redis.config.root_dir }}

{%- if redis.config.slaveof is defined %}
slaveof {{ redis.config.slaveof.masterip }} {{ redis.config.slaveof.masterport }}
{%- endif %}

{%- if redis.config.masterauth is defined %}
masterauth {{ redis.config.masterauth }}
{%- endif %}

slave-serve-stale-data {{ redis.config.slave_serve_stale_data }}
slave-read-only {{ redis.config.slave_read_only }}

{%- if redis.config.repl_ping_slave_period is defined %}
repl-ping-slave-period {{ redis.config.repl_ping_slave_period }}
{%- endif %}

{%- if redis.config.repl_timeout is defined %}
repl-timeout {{ redis.config.repl_timeout }}
{%- endif %}

repl-disable-tcp-nodelay {{ redis.config.repl_disable_tcp_nodelay }}

{%- if redis.config.repl_backlog_size is defined %}
repl-backlog-size {{ redis.config.repl_backlog_size }}
{%- endif %}

{%- if redis.config.repl_backlog_ttl is defined %}
repl-backlog-ttl {{ redis.config.repl_backlog_ttl }}
{%- endif %}

slave-priority {{ redis.config.slave_priority }}

{%- if redis.config.min_slaves_to_write is defined %}
min-slaves-to-write {{ redis.config.min_slaves_to_write }}
{%- endif %}

{%- if redis.config.min_slaves_max_lag is defined %}
min-slaves-max-lag {{ redis.config.min_slaves_max_lag }}
{%- endif %}

{%- if redis.config.pass is defined %}
requirepass {{ redis.config.pass }}
{%- endif %}

{%- if redis.config.rename_command is defined %}
{%- for k, v in redis.config.rename_command.items() %}
rename-command {{ k }} {{ v }}
{%- endfor %}
{%- endif %}

{%- if redis.config.maxclients is defined %}
maxclients {{ redis.config.maxclients }}
{%- endif %}

{%- if redis.config.maxmemory is defined %}
maxmemory {{ redis.config.maxmemory }}
maxmemory-policy {{ redis.config.maxmemory_policy }}
maxmemory-samples {{ redis.config.maxmemory_samples }}
{%- endif %}

appendonly {{ redis.config.appendonly }}
appendfilename {{ redis.config.appendfilename }}
appendfsync {{ redis.config.appendfsync }}

no-appendfsync-on-rewrite {{ redis.config.no_appendfsync_on_rewrite }}
auto-aof-rewrite-percentage {{ redis.config.auto_aof_rewrite_percentage }}

auto-aof-rewrite-min-size {{ redis.config.auto_aof_rewrite_min_size }}

lua-time-limit {{ redis.config.lua_time_limit }}

slowlog-log-slower-than {{ redis.config.slowlog_log_slower_than }}
slowlog-max-len {{ redis.config.slowlog_max_len }}

notify-keyspace-events {{ redis.config.notify_keyspace_events }}

############################### ADVANCED CONFIG ###############################

hash-max-ziplist-entries 512
hash-max-ziplist-value 64

list-max-ziplist-entries 512
list-max-ziplist-value 64

set-max-intset-entries 512

zset-max-ziplist-entries 128
zset-max-ziplist-value 64

activerehashing yes

client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60

hz 10

aof-rewrite-incremental-fsync yes
